.completed-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--color-primary);
  background-image: url('../../assets/images/rotated-success-background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100vw 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
}

.completed-container img {
  margin-bottom: 3rem;
}

.completed-container h1 {
  font: 700 5.4rem Archivo;
  margin-bottom: 2rem;
  text-align: center;
}

.completed-container h4 {
  font: 500 1.6rem Poppins;
  color: var(--color-text-in-primary);

  width: 70vw;
  text-align: center;
}

.completed-container h4:nth-child(4) {
  margin-bottom: 5rem;
}

.completed-container button {
  width: 162px;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

.completed-container button:hover,
.completed-container button:active {
  background-color: var(--color-secundary-dark);
}

@media (min-width: 500px) {
  .completed-container h4 {
    width: 500px;
  }
}
