/* ---------------Loading-------------- */
.loading {
  width: 20rem;
  height: 20rem;
  position: relative;
}

.loading-border {
  width: 20rem;
  height: 20rem;

  border-radius: 50%;
  border: 0.1rem solid var(--color-secundary);
  border-left-color: var(--color-text-title);

  animation: load 1s linear infinite;
}

@keyframes load {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loading span {
  position: absolute;
  margin-left: 5rem;
  line-height: 20rem;
  color: var(--color-secundary-dark);
  font-weight: 900;
}
/* ------------------------------------ */

#page-landing {
  width: 100vw;
  height: 100vh;
}

.home,
#page-landing .call-to-action {
  width: 100%;
  display: grid;
  place-items: center;
}

.home {
  background: var(--color-primary);
  color: var(--color-text-in-primary);
}

#page-landing .home-user {
  width: 90%;
  text-align: center;

  margin-top: 1.5rem;
}

.profile,
.profile figure {
  display: flex;
  align-items: center;
}

.profile {
  justify-content: space-between;
  margin-top: 1rem;
}

.profile .avatar {
  margin-right: 1rem;

  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;

  background-color: var(--color-background);
}

.profile figure figcaption {
  width: min-content;
  text-align: start;
}

.home-user .proffy-brand {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.proffy-brand .logo-container img {
  height: 8rem;
}

.hero-image {
  width: 90%;
}

.proffy-brand .logo-container h2 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3.6rem;
}

#page-landing .call-to-action footer {
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-to-action footer h4 {
  margin-top: 2rem;
  font-weight: 400;

  display: grid;
  place-items: center;
}

.action-content {
  margin: 2rem 0;
  text-align: end;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-content .buttons-container {
  display: flex;
  margin-top: 2rem;
}

.action-content a {
  width: 17rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  font: 700 2rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);

  transition: background-color 0.2s;
}

.buttons-container a:nth-child(1) {
  margin-right: 1.6rem;
}

.action-content a img {
  width: 4rem;
}

.action-content .study {
  background: var(--color-primary-lighter);
}

.action-content .give-classes {
  background: var(--color-secundary);
}

.action-content .study:hover {
  background: var(--color-primary-light);
}

.action-content .give-classes:hover {
  background: var(--color-secundary-dark);
}

.action-content a img {
  margin-right: 2.4rem;
}

.total-connections {
  font-size: 1.4rem;
  margin-right: 2rem;
}

.total-connections img {
  margin-left: 0.8rem;
}

@media (max-height: 562px) {
  .logo-container img {
    height: 8rem;
    margin-top: 6rem;
  }
}

/* breakpoint: mobile -> desktop */
@media (min-width: 1100px) {
  #page-landing .home-user {
    width: 70%;
  }

  .profile figure figcaption {
    width: max-content;
  }

  .home-user .proffy-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .hero-image {
    width: 50%;
  }

  .proffy-brand .logo-container h2 {
    width: 29.8rem;

    text-align: initial;
    font-size: 2.6rem;
  }

  .proffy-brand .logo-container img {
    height: 10rem;
  }

  #page-landing .call-to-action footer {
    width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .call-to-action footer h4 {
    max-width: 17rem;
    margin-top: 0;
  }

  .action-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3.2rem 0;
  }

  .action-content a {
    width: 30rem;
    height: 10.4rem;
    font: 700 2.4rem Archivo;
  }

  .total-connections {
    max-width: 14rem;
  }
}
